.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  /* background-image: url('IvanInDC.JPG'); */
  background-image: url('images/welcome.png');
  background-size: 100%;
  background-position: center;
  background-color: #CFd0d8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  /* text-align: left; */
  font-size: calc(30px + 2vmin);
  /* font-family: 'Times New Roman'; */
  font-family: fantasy;
  color: black;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* App.css */
.logo {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 80px;
  height: 80px;
}

/* Add this CSS to your stylesheet */
.nav ul {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  display: flex; /* Change the display property to flex */
  justify-content: flex-end; /* Right-align the menu items */
  background-color: #184759;
  font-family: fantasy;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

nav li {
  margin: 0 17px; /* Add some margin between the menu items */
  padding: 5px;
  background-color: #CFd0d8;
}

.app-body {
  background-color: #CFd0d8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  /* text-align: left; */
  font-size: calc(10px + 2vmin);
  font-family: 'Roboto', sans-serif;
  color: black;
}

.home-image {
  width: 50%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 30;
  left: 10;
  /* z-index: -1; */
}

nav a {
  color: rgb(246, 239, 239); /* Replace with your desired color */
}

.content {
  list-style-type: none;
  padding: 10px;
  margin: 10px;
  display: flex; /* Change the display property to flex */
  justify-content: flex-end; /* Right-align the menu items */
  background-color: #184759;
  font-family: fantasy;
  font-weight: bold;
  font-size: 20px;
  color: black;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  justify-content: right;
}

.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #a3dceb;
}



.about-me-container {
  display: flex;
  align-items: center;
  padding: 20px; /* Add padding for spacing */
  border: 1px solid #ccc; /* Optional: Add a border for visual separation */
}

.text-container {
  flex: 1;
  padding: 0 20px; /* Optional: Add padding to the text container */
}

.image-container {
  flex: 1;
  text-align: center; /* Optional: Center the image */
  width: 50%; /* Set the width to occupy half of the page */
}

/* Optional: Add media queries for responsive design */
@media (max-width: 768px) {
  .about-me-container {
    flex-direction: column;
  }
  .image-container {
    width: 100%; /* Set the width to occupy the full width on smaller screens */
  }
}

.small-image {
  max-width: 80%; /* Set the maximum width of the image to 100% */
  height: auto; /* Maintain the aspect ratio of the image */
}


/* Margins for top paragraphs of home and about me page */
.margins {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 250px;
  margin-right: 250px;
}


/* Footer.css */
.footer {
  background-color: #184759;
  color: #fff;
  padding: 10px;
  text-align: center;
}